<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png" />
    <fact-show />
  </div>
</template>

<script>
// @ is an alias to /src
import FactShow from '@/components/FactShow.vue';

export default {
  name: 'HomeView',
  components: {
    FactShow,
  },
};
</script>
