<template>
  <div class="hello">
    <h1>3! == {{ result }}</h1>
  </div>
</template>

<script setup>
import { onMounted, ref } from 'vue';

const result = ref(0);

onMounted(async () => {
  result.value = -1;
});
</script>
